body {
  background-color: #e6ecf0;
}

/*********************************
  *   NAVBAR
*********************************/
.navbar{
  margin-bottom: 1 rem;
}
#logoutNavbar:hover{
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
.navbar a:hover{
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
.navbar-brand > img{
  display: inline-block;
  width: 20px;
  margin-bottom: 2px;
  margin-right: 5px;
  border-radius: 2px;
}
ul.nav.navbar-nav li, a{
  font-weight: bold;
  color: white;
  margin: 0 0.5rem;
}
.onboarding > .navbar {
  background-image: linear-gradient(to right, #f2fcfe,#1c92d2);
}
#navbar-home{
  color: black;
}
#navbar-home img{
  transform: scale(2);
}

/***********************************
  *   HomePage 
***********************************/
.home-hero {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  background-image: url("./images/signed-out-home.jpg");
  text-align: center;
  padding: 1rem;
  background-position: center center;
  background-size: cover;
  color: #fff;
  text-shadow: 0 0 8px #66757f;
}

/***********************************
  *   Messages
***********************************/
#messages .list-group-item{
  display: flex;
  align-items: flex-start;
  padding: 12px 12px;
}
#messages:not(.no-hover) .list-group-item:hover{
  background-color: #e6ecf0
}
#message-username{
  color: #1c92d2;
}
.timeline-image {
  border-radius: 50px;
  height: 48px;
  width: 48px;
  margin: 2px 30px 10px 10px
}
.btn:hover{
  cursor: pointer;
}
a.btn.btn-danger,
a.btn.btn-primary,
a.btn.btn-primary:hover,
a.btn.btn-danger:hover{
  color: white;
}
#message-form{
  padding: 20px;
}

/***********************************
  *   User Aside
***********************************/
.panel-body-link{
  color: black;
}
.panel-body-link:hover{
  color: black;
  text-decoration: underline;
  cursor: pointer;
}